h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    padding: 20%;
    font-family: 'Raleway', 'sans-serif';
}

h1 {
    font-weight: 900;
    font-size: 4em;
}

p {
    font-size: 1.7em;
    font-style:italic;
    font-weight: 200;
}

.owl-carousel{
    width: 100%;
}