form {
    margin: 5% auto;
  width: 80%;
}
h1{
    padding-top: 5%;
    text-align: center;
}
input {
    width: 30%;
}
.container{
    text-align: center;
}
.results {
    font-weight: 700;
    font-size: 5em;
    color: crimson;
    opacity: .7;
    margin-top: -5%;
}